
.about_section {
    padding-top: 5em;
    padding-bottom: 15em;
    color: #283237;
}

.keystone_container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10%;
    width: 80%;
}

.keystone {
    display: inline-block;
    padding: 0 3em;
    flex: 1;
    width: 24.8%;
}

.keystone_header {
    text-align: center;
    font-weight: 900;
    font-size: 2em;
}

.keystone_description {
    text-align: center;
}