// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components
@import 'matrix';
@import 'navbar';

// General

* {
    box-sizing: border-box;
}

body {
    background: $body-bg;
    font-family: 'Raleway';
    font-size: $font-size-base;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
    overflow: hidden;
}
